.contentWrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 8%;
}

:root {
  --themeColor: #d54b6a;
  --themeColorDark: #bb0730;
  --darkGrey: #545454;
  --offwhite: #f5f5f5;
}

a {
  color: var(--themeColorDark);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--darkGrey);
  font-display: block;
  line-height: 2;
  background-color: var(--offwhite);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: #333;
}

.twoColumns {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: -1rem; /* account for child padding */
}

@media (min-width: 700px) {
  .twoColumns > * {
    width: 50%;
  }

  .twoColumns > .secondColumn {
    margin: -2rem 0 -5rem;
  }

  .twoColumns > .firstColumn {
    padding: 2rem 2rem 2rem 0;
  }
}

@media (max-width: 699px) {
  .twoColumns > * {
    width: 100%;
  }
}

.twoColumns > * {
  box-sizing: border-box !important;
  flex-grow: 1;
}

.twoColumns > .firstColumn > h2 {
  margin-top: 0;
}

.twoColumns > .secondColumn {
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 4px;
  overflow: hidden;
  min-height: 10rem;
}
